#form{
  border: 2px solid purple;
  border-radius: 1rem;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
}
#formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#homepageheading{
  text-align: center;
  color: purple;
}

#nav{
  background-color: gray;
  height: 5rem;
  margin: 0 1rem 0 1rem;
  padding: 1rem 5rem 1rem 5rem;
  border-radius: 0 10px 0 10px;
  display: flex;
  justify-content: space-around;
}

#nav button{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: whitesmoke;
  cursor: pointer;
}
#nav button:hover{
  color: blanchedalmond;
}
#subComponent{
  text-align: center;
}
.Tasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.individualTask{
  color: whitesmoke;
  font-size: large;
  background-color: rgb(175, 34, 133);
  border: 2px solid navy;
  border-radius: 1rem 0 1rem 0;
  height: 2rem;
  width: 20rem;
  display:flex ;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem 3rem 1rem 3rem;
}
.individualTaskDone{
  color: black;
  font-size: large;
  background-color: rgb(32, 212, 0);
  border: 2px solid rgb(82, 255, 82);
  border-radius: 1rem 0 1rem 0;
  height: 2rem;
  width: 20rem;
  display:flex ;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem 3rem 1rem 3rem;
}

#wholeTablePage{
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
